header {
	background-color: tomato;
	margin: 10px;
	padding: 10px;
}

ul {
	display: flex;
}

li {
	margin: 10px;
	list-style: none;
}

footer {
	background-color: yellowgreen;
	margin: 10px;
	padding: 10px;
}

a {
	display: block;
}

main {
	display: flex;
}

section {
	background-color: dodgerblue;
	margin: 10px;
	padding: 10px;
	width:70%;
}

article {
	background-color: skyblue;
	margin: 10px;
	padding: 10px;
}

aside {
	background-color: skyblue;
	margin: 10px;
	padding: 10px;
	width:30%;
}
