table#table {
	/* 셀 사이의 빈 여백을 없애소 합쳐진다. */
	border-collapse: collapse;
}

tr.tr {
	height: 50px;
	
}

th.th {
	background-color: hotpink;
	width: 150px;
	border: 2px solid dodgerblue;
}

td.td {
	background-color: chocolate;
	width: 100px;
	border: 2px dashed dodgerblue;
}